{% extends 'base.html' %}
{% load static %}
{% load order_tags %}
{% block title %}My Account{% endblock %}
{% block content %}
<div id="reservation" class="reservations-main pad-top-100 pad-bottom-100" style="background-image: url({% static 'images/background.jpg' %}); background-position: center center; background-size: cover; background-repeat: no-repeat; backgroud-attachment: fixed;" >
    <div class="container">
        <div class="row">
            <div class="form-myaccount-box">
                <br><br><br>
                <div class="col-sm-4" style="background-color: rgb(236, 243, 247, 0.75); border-radius: 6px;">
                    <h2 class="block-title text-center" style="padding-top: 50px;">My Profile</h2><br><br>
                    <table class="table" style="border: none; font-size: 14px; font-family: Georgia; text-align: center;">
                        <tbody>
                            <tr><td>Name</td><td>{{ user.customer.full_name }}</td></tr>
                            <tr><td>Phone</td><td>+91 {{ user.customer.phone_number }}</td></tr>
                            <tr><td>Email</td><td>{{ user.email }}</td></tr>
                            <tr><td>Address</td><td>{{ user.customer.full_address }}</td></tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="text-center"> 
                            <a class="btn btn-primary btn-block" href="{% url 'profile_update' %}" style="font-family: Georgia; font-size: 16px;" role="button">Edit Profile</a>
                            </div><br>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="text-center">
                            <a class="btn btn-primary btn-block" href="{% url 'account_change_password' %}" style="font-family: Georgia; font-size: 16px;" role="button">Change Password</a>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2 class="block-title text-center" style="padding-top: 30px;">My Orders</h2><br>
                    {% if orders %}
                    <table class="table" style="border: none; font-size: 14px; font-family: Georgia; text-align: left; color: #fff;">
                        <thead>
                            <tr  style="text-align: center;">
                                <th>Date</th><th>Dishes</th><th>Total</th><th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                       	<tr>
                       		<td>{{ order.date_and_time|date:"M j, Y" }}</td>
                           	<td>{% for dish in order|order_dishes_quantity %}{{ dish.0 }} (&times; {{ dish.1 }}){% if not forloop.last %} | {% endif %}{% endfor %}</td>
                           	<td>&#8377; {{ order.total_bill }}</td>
                           	<td style="color: lightseagreen;">{{ order.status }}</td>
                       	</tr>
                        {% endfor %}
                    	</tbody>
                    </table>
                    {% else %}
                    <h4 class="form-title">Nothing ordered yet! <a href="{% url 'order' %}" style="color: white;">Order Something.</a></h4><hr>
                    {% endif %}
                    <h2 class="block-title text-center" style="padding-top: 30px;">My Reservations</h2><br>
                    {% if reservations %}
                    <table class="table" style="border: none; font-size: 14px; font-family: Georgia; text-align: left; color: #fff;">
                        <thead>
                            <tr  style="text-align: center;">
                                <th>Date</th><th>Time</th><th>Name</th><th>Table For</th><th>Occasion</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                       	<tr>
                       		<td>{{ reservation.date_and_time|date:"M j, Y" }}</td>
                       		<td>{{ reservation.date_and_time|time:"h:i A" }}</td>
							<td>{{ reservation.name }}</td>
                           	<td style="text-align: center;">{{ reservation.num_people }}</td>
                           	<td style="color: lightseagreen;">{{ reservation.occasion }}</td>
                       	</tr>
                        {% endfor %}
                    	</tbody>
                    </table>
                    {% else %}
                    <h4 class="form-title">Not reservations yet!<a href="{% url 'reservation' %}" style="color: white;">Make One now.</a></h4><hr>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}