{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}	
    <div id="banner" class="banner full-screen-mode parallax">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>The Chinese Point</h1>
                            <h2>Taste That Pulls You back</h2>
                            <p>Tempting Flavours | Quick Deliveries | Rewarding Service</p>
                            <div class="book-btn">
                                <a href="{% url 'reservation' %}" class="table-btn hvr-underline-from-center">Book my Table</a>
                                <a href="#" class="table-btn hvr-underline-from-center">Order Delivery</a>
                            </div>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>
    <!-- end banner -->

    <div id="about" class="about-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title"> About Us </h2>
                        <p>At The Chinese Point, we don't just make food. We make people happy. The Chinese Point started with the belief that every meal should be special, and we carry that belief into everything we do.</p>
                        <p>With more than 10 years of experience under our belt, we understand how to best serve our customers through tried and tested service principles: We prepare food we are proud to serve and deliver it fast, with a smile.</p>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="about-images">
                            <img class="about-main" src="{% static 'images/about-main.jpg' %}" alt="About Main Image">
                            <img class="about-inset" src="{% static 'images/about-inset.jpg' %}" alt="About Inset Image">
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <div id="menu" class="menu-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center">
						Our Menu 	
					</h2>
                        <p class="title-caption text-center">Count The Memories Not The Calories</p>
                    </div>
                    <div class="tab-menu">
                        <div class="slider slider-nav">
                            <div class="tab-title-menu">
                                <h2>STARTERS</h2>
                            </div>
                            <div class="tab-title-menu">
                                <h2>MAIN DISHES</h2>
                            </div>
                            <div class="tab-title-menu">
                                <h2>NOODLES & RICE</h2>
                            </div>
                            <div class="tab-title-menu">
                                <h2>ROLLS</h2>
                            </div>
                        </div>
                        <div class="slider slider-single">
                            <div>
                                {% for dish in menu.Starters %}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="{% static dish.img %}" alt="{{ dish.name }}" class="img-responsive">
                                        <div>
                                            <h3>{{ dish.name }}</h3>
                                            <p>
                                                {{ dish.description }}
                                            </p>
                                        </div>
                                        <span class="offer-price">&#8377; {{ dish.price }}</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                {% endfor %}
                            </div>
                            <div>
                                {% for dish in menu.Main_Dishes %}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="{% static dish.img %}" alt="{{ dish.name }}" class="img-responsive">
                                        <div>
                                            <h3>{{ dish.name }}</h3>
                                            <p>
                                                {{ dish.description }}
                                            </p>
                                        </div>
                                        <span class="offer-price">&#8377; {{ dish.price }}</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                {% endfor %}
                            </div>
                            <div>
                                {% for dish in menu.Noodles_and_Rice %}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="{% static dish.img %}" alt="{{ dish.name }}" class="img-responsive">
                                        <div>
                                            <h3>{{ dish.name }}</h3>
                                            <p>
                                                {{ dish.description }}
                                            </p>
                                        </div>
                                        <span class="offer-price">&#8377; {{ dish.price }}</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                {% endfor %}
                            </div>
                            <div>
                                {% for dish in menu.Rolls %}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="{% static dish.img %}" alt="{{ dish.name }}" class="img-responsive">
                                        <div>
                                            <h3>{{ dish.name }}</h3>
                                            <p>
                                                {{ dish.description }}
                                            </p>
                                        </div>
                                        <span class="offer-price">&#8377; {{ dish.price }}</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- end tab-menu -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end menu -->
    <div id="reservation" class="reservations-main pad-top-10 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="reserve-book-btn text-center">
                    <button class="hvr-underline-from-center"><a href="{% url 'reservation' %}" >Book my Table</a></button>
                    <button  class="hvr-underline-from-center"><a href="#">Order Delivery</a></button>
                </div>
                <!-- end reservations-box -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end reservations-main -->
{% endblock %}